*{margin:0;padding:0;font-family: "微软雅黑";}
html,body{height:100%;}
a{text-decoration: none;border:0;}
img{border:0;}
li{list-style: none;}
	.outer{min-width:1200px;height:100%;background:#fff;position: relative;font-size: 16px;}
	.inner{width:100%;min-width:1200px;min-height: 100%; position: relative;text-align: center; }
/*首页*/
	/*头部*/
	.hd{width:100%;background:#f3f3f3;}
	.hd_nav{width:1200px;height:90px;margin:0 auto;}
	.hd_nav_list{width:100%;height:100%;}
	.hd_nav_lt{float:left;}
	.hd_navitem_img{position: relative;width:170px;height:90px;}
	.hd_navitem_img a{display: block;width:100%;position: absolute;top:50%;margin-top:-31px;left:0;}
	.hd_nav_lt img{display: block;width:100%;height: auto;}
	.hd_navitem{float:left;line-height: 90px;position: relative;z-index: 999;}
	.hd_nav_rt{float:right;margin-right:20px;}
	.hd_nav_rt a{display:block;padding:0 20px;color:#c56d18;border:0;cursor: pointer;font-size: 18px;}
	.hd_nav_rt a:hover{color:#ffffff;background: rgb(255, 153, 0);}

	._kf_ewm_show a img,.money a img{width:22px;}
	.wx_kf,.daili_zm{display: none;width:140px;position: absolute;top:90px;left:0;line-height: 20px;margin-left:-44px;background:#ffffff;padding:15px;border: 2px solid #cccccc;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;}
	.wx_kf p,.daili_zm p{font-size: 14px;padding-top:10px;}
	.wx_kf_line,.daili_zm_line{width:172px;height:3px;position: absolute;top:-3px;left:-1px;background: #ff9900;}
	.wx_kf_jt,.daili_zm_jt{width:0;height:0;border:7px solid transparent;border-bottom-color:#ff9900;position: absolute;left:50%;margin-left:-2px;top:-14px;}
	.wx_kf img,.daili_zm img{display: block;width:100%;}

	/*轮播*/
	.hd_lunbo{width:100%;}
	.lunbo_cot{position: relative;width:100%;overflow: hidden;}
	.lunbo_cot img{width:100%;display: block;float: left;margin-right:-100%;}
	.lunbo_cot ul{width:100%;position:absolute;left:0;bottom:0;padding:20px 0;text-align:center;background: rgba(0,0,0,.4);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);}
	.lunbo_cot ul li{background: #ffffff;width:30px;height:15px;margin:0 15px;display:inline-block;border-radius:10px;cursor:pointer;}


	.lunbo_lw{position: absolute;right:14%;top:12%;width:360px;padding:30px 0;background:rgba(255,255,255,.2);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33ffffff,endColorstr=#33ffffff);}
	.lunbo_lw_h2{font-size: 30px;width:100%;text-align: center;color:#f7ce85;}
	.wwg{font-size: 20px;margin:0 30px;color:#ffffff;line-height: 50px;border-bottom:1px solid rgba(255,255,255,.2);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33ffffff,endColorstr=#33ffffff);}
	.lw_wem{margin:0 40px;overflow: hidden;padding-top:30px;}
	.lw_wem_img{float: left;width:65%;}
	.lw_wem_img img{display: block;width:100%;}
	.bb_down{font-size: 40px;float:right;color:#ffffff;width:85px;}
	.bb_down .fa{padding:0 15px;border-radius: 100%;-moz-border-radius: 100%;-webkit-border-radius: 100%;background: rgba(0,0,0,.2);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000);line-height: 60px;}
	.bb_down p{font-size: 16px;}
	.apple{padding-top:10px;}
	.fiex_rt_top{height:auto;position: fixed;top:230px;right:36px;background: #ffffff;border: 1px solid #cccccc;border-radius: 3px;z-index: 99;}
	.ewm_close{text-align: right;}
	.ewm_close span{color:#878787;font-size: 20px;margin-right:10px;cursor: pointer;}
	.fiex_ewm{padding:0 15px;}
	.fiex_ewm img{display: block;width:100%;height: auto;}
	
	/*轮播下面的body*/
	.toTop{width:40px;height:50px;background: #c56d18;color:#ffffff;position: fixed;right:5px;bottom:190px;line-height: 50px;cursor:pointer;z-index: 9999;display: none;}
	.toTop:hover{background:rgb(255, 153, 0);}

	.fiex_gz{font-size: 14px;line-height: 25px;padding:0 10px;}
	.midd_cont{width:100%;height:auto;}
	.midd_cont_news{width:100%;height:auto;background: #f6f6f6;}
	.news,.friend_link{width:1200px;margin:0 auto;padding:50px 0;}
	.news_h2,.friend_h2{width:300px;margin:0 auto;}
	.news_h2 img,.friend_h2 img{display: block;width: 100%;height:auto;}
	.friend_link_list{padding:0 24px 30px;margin-top:30px;background: #f2f3f6;text-align: left;}
	.friend_link_item{font-size: 16px;margin:25px 10px 0;display: inline-block;color:#737373;}
	.friend_link_item a{color:#737373;font-size: 16px;display: block;width:170px;text-align: center;line-height: 38px;border:1px solid #E9EDF0;border-radius:5px;background: -webkit-linear-gradient(bottom,#ffffff,#F6F7F9);background: -o-linear-gradient(bottom,#ffffff,#F6F7F9);background: -ms-linear-gradient(bottom,#ffffff,#F6F7F9);background: -moz-linear-gradient(bottom,#ffffff,#F6F7F9);}
	.friend_link_item a:hover{color:#ffffff;background: rgb(255, 153, 0);}
	.news_cont_list{overflow: hidden;font-size: 0;padding-bottom: 50px;}
	.news_cont_item{width:360px;height:368px;margin:40px 20px 0;float: left;font-size: 16px;background: #ffffff;}
	.news_cont_item a{display: block;color:#737373;}
	.news_cont_item a:hover{color:rgb(255, 153, 0);}
	.news_cont_item img{display: block;width:100%;}
	.news_cont_t{padding:20px 0;line-height: 25px;border:1px solid #DBDADA;margin-top: -1px;box-shadow: 0px 2px 1px #ddd;box-shadow: 0px 2px 1px #dddddd;-webkit-box-shadow: 0px 2px 1px #dddddd;-moz-box-shadow: 0px 2px 1px #dddddd;}
	._link_list{overflow: hidden;margin:0 auto;font-size: 0;}
	/*新闻hover放大效果*/
	.news_cont_item { transition:transform 0.25s ease;	}
	.news_cont_item:hover { transform:scale(1.05,1.05); }
	/*右边悬浮二维码框点击效果*/
	.fiex_rt_top{ transition:transform 0.5s ease;}
	
	/*底部*/
	.footer{width:100%;height:140px;}
	.footer_con{width:100%;background: #131313;color:#b7b7b7;padding:20px 0;position: absolute;bottom:0;left:0;}
	.bb_gg p{line-height: 25px;font-size: 16px;}

/*联系我们*/
	.lx_us{width:1200px;margin:30px auto;text-align: left;border:1px solid #dddddd;}
	.lx_us_hd{width:100%;margin-top:20px;}
	.lx_us_hd p{width:1200px;margin:0 auto;text-align: left;font-size: 30px;}

	.lx_us_list li{line-height: 25px;font-size: 14px;}
	.lx_us_list li p{background: #f1f1f1;padding:10px 20px;font-size: 16px;}
	.lx_us_list div{padding:20px;}
	.lx_us span{display: block;line-height: 25px;}

/*关于我们*/
	.about_us{width:1200px;margin:30px auto;text-align: left;}
	.about_us_hd{width:100%;margin-top: 20px;}
	.about_us_hd p{width:1200px;margin:0 auto;text-align: left;font-size: 30px;}
	.about_us p{line-height: 25px;text-indent: 2em;font-size: 16px;color:#666666;padding:5px 10px;}
	.about_us .gs_name{font-size: 25px;}

/*新闻中心*/
