*{margin:0;padding:0;}
body,html{height:100%; width:100%;overflow:auto;}
li{list-style: none;}
a{text-decoration: none;}
.outer{
	width:100%;
	min-height:100%;
	margin:0 auto;
	font-size:.2rem;
	font-family:"微软雅黑";
}
.inner{
	width:100%;
}
.back{
	width:100%;
	font-size: .3rem;
	padding:.2rem .3rem;
	background:#28c1fd;
	box-sizing:border-box;
}
.back a{
	color:#fff;

}
.cont{
	padding:0 .2rem;
	padding-bottom:1rem;
}

.pers_name{
	width:100%;
	margin-top:.3rem;
}
.pm_name{
	line-height: .5rem;
	font-weight:bold;
	font-size: .25rem;
	border-bottom:1px solid #c7c7c7;
}
.toux{
	width:100%;
	padding:.25rem 0;
}
.toux img{
	display: block;
	width: 100%;
	height:auto;
}
.qt_news{
	width:100%;
	line-height: .5rem;
	margin-top:.5rem;
}
.piaos{
	color:red;
	margin-top:.3rem;
	margin-bottom:.1rem;
}
.tiaop{
	display: block;
	width:2rem;
	height:.5rem;
	line-height: .5rem;
	text-align: center;
	color:#fff;
	background: #28c1fd;
	border-radius:.1rem;
}